# Python
**/__pycache__/*

# Sample files, alignments and references
*.fastq
*.fasta*
*.gz
*.vcf*
*.bam*
*.cram*
*.sam*
*.dict

# GenomicDBImport
*.tdb
**/genomicsdb_meta_dir/*
vidmap.json
callset.json
.__consolidation_lock

# Debug
debug/*

# Snakemake
config/.snakemake/*

# Prototyping / testing
untracked/*